/** *** MEDIA *** **/
@media all and (min-width: 768px) {
    .sticky-nav-wrapper {
        display: none;
    }
    .mobile-view {
        display:  none;
    }
    .footer-bottom {
        margin-bottom: 0 !important;
    }
}
@media all and (max-width: 1199px) {
    .work {
        height: 250px;
        min-height: 250px;
    }
}

@media all and (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 970px;
    }
    .container > .w-70,
    .container-fluid > .w-70 {
        width: 100%;
        float: none;
    }
    .p-100 {
        padding: 80px 10px;
    }
    .heading h2 {
        font-size: 28px;
    }
    .testimonials {
        padding: 80px 0;
    }
    .container .w-30 {
        width: 100%;
        margin: auto;
        float: none;
        max-width: 350px;
    }
    #header .navigation a::before {
        display: none;
    }
    #header .header-content {
        padding: 10px 0;
    }
    #header .logo {
        width: 160px;
    }
    #header .nav-toggle {
        top: 0;
        right: 0;
        position: relative;
    }
    #header.fixed .logo {
        width: 150px;
    }
    .quotes blockquote {
        width: 100%;
        max-width: 100%;
        padding: 20px;
    }
    .quotes blockquote p,
    .testimonials p {
        font-size: 24px;
    }
    .flexslider {
        padding-bottom: 0;
    }
    .contact-form.fixed {
        position: static;
    }
    .banner {
        height: 550px;
        min-height: 550px;
    }
    .banner-text {
        padding: 24% 0 15% 0;
    }
    .work {
        height: 235px;
        min-height: 235px;
    }
}
@media all and (max-width: 991px) {
    .quotes blockquote p,
    .testimonials p {
        font-size: 18px;
    }
    .quote::before,
    .quote::after {
        width: 70px;
        height: 70px;
    }
}
@media all and (max-width: 767px) {
    .banner-text {
        padding: 40% 0 15% 0;
    }
    .banner {
        background-size: auto;
    }
    .banner:hover {
        background-size: auto;
    }
    .banner-text h1 {
        font-size: 22px;
    }
    .banner-text p {
        font-size: 14px;
    }
    .sticky-nav-wrapper {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #e84545;
        color: gray;
        z-index: 5;
        -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    }
    .sticky-nav-wrapper {
        color: gray;
    }
    .sticky-nav li {
        width: 50%;
        float: left;
        text-align: center;
        padding: 10px 0;
        position: relative;
    }
    .sticky-nav li::after {
        content: "";
        position: absolute;
        height: 60%;
        background: #fff;
        width: 1px;
        right: 0;
        top: 20%;
    }
    .sticky-nav li a {
        color: #fff;
    }
    .sticky-nav .fa {
        font-size: 23px;
    }
    .sticky-nav li span {
        display: block;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
    .works [class*="col-"] {
        margin: 10px 0;
        overflow: hidden;
    }
    .work .overlay {
        opacity: 1;
        background: rgba(255,255,255,.85);
        /* box-shadow: none; */
    }
    .work-box .overlay h5,
    .work-box .overlay p {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
